<footer class="bg-gray-800 py-4">
    <div class="text-center text-gray-100">
        <p>&copy; 2024 MindHub. All rights reserved.</p>
        <p class="space-x-4">
            <a href="https://github.com/Gonzalo-diez" target="_blank" class="hover:text-amber-500">
                <i class='bx bxl-github text-2xl'></i>
            </a>
            <a href="https://www.linkedin.com/in/gdiezbuchanan/" target="_blank" class="hover:text-amber-500">
                <i class='bx bxl-linkedin-square text-2xl'></i>
            </a>
            <a href="https://portfolio-gonzalo-diez-buchanan.netlify.app/" target="_blank" class="hover:text-amber-500">
                Portfolio
            </a>
        </p>
    </div>
</footer>